html { font-size: 62.5%;}
body {
   background: #fff;
   font-family: 'opensans-regular', sans-serif;
   font-weight: normal;
   font-size: 15px;
   line-height: 30px;
	color: #838C95;

 
}

button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0;}

.row {
   width: 96%;
   max-width: 1020px;
   margin: 0 auto;
}

.ie .row { width: 1000px ; }

.narrow .row { max-width: 980px; }

.row .row { width: auto; max-width: none; margin: 0 -20px; }

@media screen and (min-width: 1200px) {

   .wide .row { max-width: 1180px; }

}


body { background: #0f0f0f; }


header {
   position: relative;
   height: 700px;
   min-height: 400px;
   width: 100%;
   background: #161415 url(../images/header-background.jpg) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}


header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;s
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}



header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0; padding: 0;
	 border: none; outline: none;
}

#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}

#nav-wrap > a.mobile-btn { display: none; }

ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}


ul#nav li a {


   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: #2B2B2B;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }



#Education {
   background: #2B2B2B;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#Education h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin-bottom:30px;
   margin-left:-20px;
}
#Education h1 span {
   border-bottom: 3px solid #11ABB0;
   color: #fff;
   padding-bottom: 6px;
}
#Education h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
   color: #fff;
}

.skill{
	margin-left:150px;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: Black;
   color: white;
}